/* --- BACKGROUND --- */

.background-test-color


{
	background-color: #EDF2F4;
}

/* --- BASE --- */

.base-color-test

,.maker_input
,.maker_sensor
,.maker_date
{
	background-color: #9FAFCC;
	color: #EDF2F4;
}

/* --- BASE 2 --- */

.base-2-color-test

,.maker_input_editable
,.maker_sensor_editable
,.maker_date_editable
{
	background-color: #717D91;
	color: #EDF2F4;	
}

/* --- BASE 3 --- */

.base-3-color-test


{
	background-color: #2B2D42;
	color: #EDF2F4;
}

.base-3-color-test

,.maker_input
,.maker_sensor
,.maker_date
,.maker_input_editable
,.maker_sensor_editable
,.maker_date_editable
{
	border-color: red;
}

/* --- HIGHLIGHT --- */

.highlight-color-test


{
	background-color: #EF233C;
	color: #EDF2F4;
}

/* --- SELECT --- */

.select-color-test


{
	background-color: #D90429;
	color: #EDF2F4;
}